body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
.flex{
    display: flex;
    align-items: center;
}
.gap{
    gap: 40px;
}
.gap2{
gap: 100px;
}
.gap3{
    gap: 90px;
}
.gap4{
    gap: 140px;
    }
    .gap5{
        gap: 70px;
        }
        .gap6{
            gap: 85px;
            }
            .gap7{
                gap: 175px;
                }
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.item{
    /* height: 0px; */
    background-color: rgb(56, 120, 165);
    padding: 10px 10px;
}
.tra{
    background-image: url(/images/bank-office-interior-professional-banking-600nw-1432952840.webp);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.mag{
    margin-bottom: 30px;
    text-align: center;
    align-items: center;
}
.p input{
    width: 180px;
    height: 35px;
    background-color: white;
    border: none;
}
.p select{
    width: 180px;
    height: 35px;
    background-color: white;
    border: none;
    padding: 7px 5px;
}
.p h2{
    color: white;
    font-size: 1.2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.p{
    color: white;
    font-size: 1.2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.mag span{
    font-size: 12px;
    color: red;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.pin{
    width: 150px;
    height: 45px;
    background-color: yellow;
    border: none;
   margin-top: 30px;
    padding: 7px 5px;
    color: rgb(56, 120, 165);
    font-size: 20px;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: .6s ease all;
}
.pin:hover{
    color: yellow;
    border: 2px solid yellow;
    background-color: transparent;
}
nav{
    height: 80px;
    margin: auto;
    width: 95%;
    background-color: rgb(56, 120, 165);
}
.navt{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    padding-left: 15px ;
}
.navt h2{
    font-size: 2.4rem;
    color: yellow;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.mak p{
color: rgb(56, 120, 165);
font-size: 1.4rem;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
footer{
    height: 80px;
    margin: auto;
    width: 100%;
    background-color: rgb(56, 120, 165);
    display: flex;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
    border-top: 2px solid yellow;
}
footer p{
    font-size: 1.3rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    
}
/* .dd{
    background-color: brown;
    height: 100%;
}
     */